<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= group.name %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <a href="/">Go to home</a>
  <h1>
    <%= group.name %>
  </h1>
  <ul id="messages"></ul>
  <form action="index.html" method="post">
    <input id="m" type="text" name="message" value="" />
    <button type="submit" name="button">Send</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    const groupID = "<%- group._id %>";
    const socket = io.connect("/tech");
    $("form").submit(() => {
      let msg = $("#m").val();
      socket.emit("message", { msg, room: groupID });
      $("#m").val("");
      return false;
    });

    socket.on("connect", () => {
      // emitting to everybody
      socket.emit("join", { room: groupID });
    });

    socket.on("message", (msg) => {
      $("#messages").append(`<li>${msg}</li>`);
    });
  </script>
</body>

</html>